<div class="absolute w-screen h-screen">
  <img
    src="https://assets.nflxext.com/ffe/siteui/vlv3/7c0e18aa-2c95-474d-802e-7f30e75dcca4/web/IN-en-20241014-TRIFECTA-perspective_e7121311-c11e-4809-a3e6-22abffa33569_large.jpg"

  />
</div>

<div
  class="w-full md:w-3/12 absolute p-8 right-0 left-0 bg-black my-36 mx-auto text-white rounded-lg opacity-80"
  style="position: fixed;"
>
  <h1 class="font-bold text-3xl text-center py-4">Netflix Sign In</h1>
  <div id="google-btn" class="center"></div>
</div>

<!--
style="position: fixed; height: 100vh; width: 100vw;"
-->
